@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #005a68;
    --second: #b20153;
    --third: #3a5801;
    --fourth: #873200;
}

body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
}

/* header start */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    z-index: 1000;
}

.logo {
    font-family: 'Berkshire Swash', sans-serif;
    font-size: 40px;
    color: #000;
    letter-spacing: 2px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}

.logo.white {
    color: #fff;
}

.search {
    position: relative;
    width: 300px;
    height: 40px;
    background: #fff;
    border-radius: 20px;
}

.search input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #000;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 0px 10px 0 50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
}

.search input::placeholder {
    color: #000;
}

.search i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    padding-right: 10px;
    color: #000;
    border-right: 1px solid #000;
}
/* header end */

/* banner start */
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    background: #fff;
    overflow: hidden;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner.active .banner-section:nth-child(odd) {
    transform: skew(0, -35deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, .3);
}

.banner.active .banner-section:nth-child(even) {
    transform: skew(0, 35deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, .3);
}

.banner.active .banner-section {
    width: 15%;
}

.banner.active .banner-section.two {
    left: 15%;
}

.banner.active .banner-section.three {
    right: 15%;
    left: auto;
}

.banner.active .banner-section.four {
    right: 0;
    left: auto;
}

.banner.active .banner-section img {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.banner-section {
    position: absolute;
    top: 0;
    width: 25%;
    height: 100%;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    cursor: pointer;
    transform: skew(0, 0);
}

.banner-section:hover img,
.banner-section.active img {
    opacity: 1;
    visibility: visible;
}

.banner-section img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 150%;
    z-index: 800;
    transition: .5s;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    visibility: hidden;
} 

.banner-section::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    backdrop-filter: blur(5px);
    z-index: 900;
}

.banner-section.one {
    left: 0;
}

.banner-section.one:hover::after,
.banner-section.one.active::after {
    background: var(--second);
    opacity: .6;
}

.banner-section.two {
    left: 25%;
}

.banner-section.two:hover::after,
.banner-section.two.active::after {
    background: var(--third);
    opacity: .6;
}

.banner-section.three {
    left: 50%;
}

.banner-section.three:hover::after,
.banner-section.three.active::after {
    background: var(--primary);
    opacity: .6;
}

.banner-section.four {
    left: 75%;
}

.banner-section.four:hover::after, 
.banner-section.four.active::after {
    background: var(--fourth);
    opacity: .6;
}

.banner-section.four:hover img,
.banner-section.four.active img {
    right: 0;
    left: auto;
}

.banner-section .content {
    position: relative;
    color: #000;
    z-index: 1000;
    transition: .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
}

.banner-section:hover .content,
.banner-section.active .content {
    color: #fff;
}

.banner-section .content h2 {
    font-family: 'Berkshire Swash', sans-serif;
    font-size: 3rem;
    font-weight: 600;
}

.banner-section .banner-btn {
    border: 2px solid #000;
    color: #000;
    border-radius: 30px;
    padding: 10px 30px;
    width: 150px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 50px;
    transition: .5s;
}

.banner-section:hover .banner-btn,
.banner-section.active .banner-btn {
    color: #fff;
    border-color: #fff;
}

.banner-section .banner-btn:hover {
    transform: translateX(20px);
}

.banner .banner-content .item {
    opacity: 0; 
    visibility: hidden;
    transition: 1s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 700;
}

.banner .banner-content .item.active {
    opacity: 1; 
    visibility: visible;
}

.banner .banner-content .item h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 3rem;
    text-align: center;
}

.banner .banner-content .item p {
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5;
}

.close-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    bottom: 10%;
    font-size: 2.5rem;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    z-index: 1000;
}

.banner.active .close-btn {
    opacity: 1;
    visibility: visible;
}

.sci {
    position: absolute;
    top: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 8px 20px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
    opacity: 0;
    visibility: hidden;
    transform: scale(0) translateY(-20rem);
    transition: 1s;
}

.sci li {
    list-style: none;
}

.sci li a {
    text-decoration: none;
    color: #000;
    font-size: 1.3em;
    transition: .3s;
}

.sci.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1) translateY(0);
}

/* banner end */

/* responsive start */
@media screen and (max-width: 768px) {
    header {
        padding: 10px 20px;
    }
    .logo {
        font-size: 25px;
    }
    .search {
        width: 200px;
    }
    .search input {
        padding: -2px 10px -2px 50px;
    }

    .banner-section {
        width: 100%;
        height: 25vh;
        display: flex;
        flex-direction: column;
    }
    .banner-section.one {
        top: 0;
        left: 0;
    }
    .banner-section.two {
        top: 25vh;
        left: 0;
    }
    .banner-section.three {
        top: 50vh;
        left: 0;
    }
    .banner-section.four {
        top: 75vh;
        left: 0;
    }
    
    .banner.active .banner-section .content h2 {
        font-size: 1.5rem;
    }
    .banner.active .banner-section .banner-btn {
        margin-top: 0;
        padding: 5px 20px;
    }

    .banner-section .content h2 {
        font-size: 2rem;
    }
    .banner.active .banner-section .content {
        flex-direction: row;
        align-items: center;
        transform: translateY(0);
        width: 300px;
    }

    .banner-section .content {
        width: 250px;
        gap: 10px;
        transform: translateY(20px);
    }
    .banner-section .banner-btn {
        margin-top: 15px;
    }

    .banner .banner-content .item {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
        padding: 20px;
        gap: 20px;
        z-index: 700;
    }
    .close-btn {
        bottom: 28vh;
    }

    .banner.active .banner-section:nth-child(odd) {
        transform: skew(-35deg, 0);
    }
    
    .banner.active .banner-section:nth-child(even) {
        transform: skew(35deg, 0);
    }
    .banner.active .banner-section {
        width: 100%;
        height: 15vw;
    }
    .banner.active .banner-section.two {
        left: 0;
        top: 11.5vh;
    }
    .banner.active .banner-section.three {
        right: 0;
        bottom: 11.5vh;
        top: auto;
    }
    .banner.active .banner-section.four {
        bottom: 0;
        top: auto;
    }

    .banner .banner-content .item h1 {
        font-size: 2rem;
    }
    .banner .banner-content .item p {
        font-size: 0.9rem;
        text-align: justify;
    }
    .sci {
        top: 27vh;
    }
}

/* responsive end */











